

[dir="rtl"] {
 
    .search{
      margin-right: 0% !important;
    }
  
    .Restore-Window_Rest{
      margin-right: -1% !important;
    }

          .orderDeliveryStatusdd{
        width: 100%;margin-top: -5%;
      }
  }

  [dir="ltr"] {
  
    .search{
      margin-left: 0% !important;
    }
  
    .Restore-Window_Rest{
      margin-left: 0% !important;
    }

          .orderDeliveryStatusdd{
        width: 60%;margin-top: -5%;
      }
  }