.status-event-toolbar-add {
  margin-top: 1.7%;
  padding-right: 16px;
  white-space: nowrap;
}

@media (max-width: 1199.98px) {
  .status-event-toolbar-add {
    margin-top: 0;
    padding-right: 0;
    text-align: left !important;
  }
}
