<div class="">
  <div class="breadcrumb"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" style="padding: 0%;">
          <div class="tabs">
            <ul class="tabs__links">
              <li>
                <button
                  type="button"
                  class="tabs__link"
                  [ngClass]="activeTab === 0 ? 'active' : ''"
                  (click)="changeTab(0)"
                >
                  <span class="tabs__link__text" data-text="0">
                    <i class="fa fa-cube fontAwesome_Li_Class" style="color: black;"></i>
                    <span style="margin-left: 3%;">{{ 'Products' | translate }}</span>
                  </span>
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="tabs__link"
                  [ngClass]="activeTab === 1 ? 'active' : ''"
                  (click)="changeTab(1)"
                >
                  <span class="tabs__link__text" data-text="1">
                    <i class="fa fa-folder-open fontAwesome_Li_Class" style="color: black;"></i>
                    <span style="margin-left: 3%;">{{ 'Product Categories' | translate }}</span>
                  </span>
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="tabs__link"
                  [ngClass]="activeTab === 2 ? 'active' : ''"
                  (click)="changeTab(2)"
                >
                  <span class="tabs__link__text" data-text="2">
                    <i class="fa fa-bookmark fontAwesome_Li_Class" style="color: black;"></i>
                    <span style="margin-left: 3%;">{{ 'Brands' | translate }}</span>
                  </span>
                </button>
              </li>
            </ul>

            <ul class="tabs__contents">
              <li>
                <div class="tabs__content active">
                  <ng-container *ngIf="activeTab === 0">
                  <div
                    class="separator-breadcrumb border-top"
                    style="margin-bottom: 0.5rem !important;"
                  ></div>

                  <div [dir]="globalDataService.getdir()" class="gridAboveHeightInSaleOrderHistory">
                    <div *ngIf="loadError" class="alert alert-warning mb-2" role="alert">
                      {{ loadError }}
                    </div>

                    <div class="row">
                      <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <input
                            style="margin-top: 7%;"
                            [formControl]="searchControl"
                            class="form-control form-control-rounded"
                            type="text"
                            [placeholder]="'Search products' | translate"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="card mb-3">
                          <ngx-datatable
                            [ngStyle]="{ height: gridHeight, 'box-shadow': 'none' }"
                            class="material fullscreen products-datatable"
                            [columnMode]="ColumnMode.force"
                            [headerHeight]="48"
                            [footerHeight]="30"
                            [rowHeight]="56"
                            [rows]="filteredData"
                            [scrollbarH]="true"
                            [loadingIndicator]="loadingIndicator"
                            [externalPaging]="true"
                            [count]="page.totalElements"
                            [offset]="page.pageNumber"
                            [limit]="page.size"
                            (page)="setPage($event)"
                          >
                            <ngx-datatable-column
                              [name]="'Images' | translate"
                              [sortable]="false"
                              [canAutoResize]="false"
                              [width]="108"
                              [minWidth]="108"
                              cellClass="products-datatable__image-col"
                              headerClass="products-datatable__image-col"
                            >
                              <ng-template ngx-datatable-cell-template let-row="row">
                                <div class="products-datatable__image-cell">
                                  <button
                                    type="button"
                                    class="products-datatable__thumb-btn"
                                    (click)="openImagesModal(row)"
                                    [title]="'Manage images' | translate"
                                  >
                                    <span class="products-datatable__thumb-frame">
                                      <img
                                        class="products-datatable__thumb"
                                        [src]="row.pictureUrl || 'assets/images/logo.svg'"
                                        [alt]="row.productName"
                                        (error)="onImageError($event)"
                                      />
                                    </span>
                                    <span class="products-datatable__thumb-badge">
                                      {{ getImageCount(row) > 0 ? getImageCount(row) : '+' }}
                                    </span>
                                  </button>
                                </div>
                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column
                              [name]="'Product Name' | translate"
                              prop="productName"
                              [minWidth]="180"
                            >
                              <ng-template ngx-datatable-cell-template let-row="row">
                                <span [title]="row.productName">{{ row.productName }}</span>
                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column
                              [name]="'Category' | translate"
                              prop="categoryName"
                              [minWidth]="160"
                            >
                              <ng-template ngx-datatable-cell-template let-row="row">
                                <span [title]="row.categoryName">{{ row.categoryName }}</span>
                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column
                              [name]="'Brand' | translate"
                              prop="brandName"
                              [minWidth]="120"
                            >
                              <ng-template ngx-datatable-cell-template let-row="row">
                                <span [title]="row.brandName">{{ row.brandName }}</span>
                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column
                              [name]="'Available Qty' | translate"
                              prop="availableQuantity"
                              [minWidth]="110"
                            >
                              <ng-template ngx-datatable-cell-template let-row="row">
                                <span
                                  [class.text-danger]="row.availableQuantity <= 0"
                                  [class.text-success]="row.availableQuantity > 0"
                                >
                                  {{ row.availableQuantity }}
                                </span>
                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column
                              [name]="'Sell Price' | translate"
                              prop="actualSellPrice"
                              [minWidth]="120"
                              cellClass="products-datatable__center-col"
                              headerClass="products-datatable__center-col"
                            >
                              <ng-template ngx-datatable-cell-template let-row="row">
                                <div class="products-datatable__cell-center products-datatable__cell-actions">
                                  <input
                                    type="number"
                                    class="form-control form-control-sm products-datatable__edit-input"
                                    [value]="row.actualSellPrice"
                                    min="0"
                                    step="0.01"
                                    [disabled]="isSaving(row, 'price')"
                                    (blur)="onSellPriceBlur(row, $event)"
                                    (keydown.enter)="$any($event.target).blur()"
                                  />
                                </div>
                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column
                              [name]="'Show Online' | translate"
                              [sortable]="false"
                              [minWidth]="110"
                              cellClass="products-datatable__center-col"
                              headerClass="products-datatable__center-col"
                            >
                              <ng-template ngx-datatable-cell-template let-row="row">
                                <div class="products-datatable__cell-center products-datatable__cell-actions">
                                  <button
                                    type="button"
                                    class="btn btn-sm products-datatable__toggle"
                                    [class.btn-success]="row.showProductOnline"
                                    [class.btn-outline-secondary]="!row.showProductOnline"
                                    [disabled]="isSaving(row, 'showOnline')"
                                    (click)="toggleShowOnline(row)"
                                  >
                                    <span
                                      *ngIf="isSaving(row, 'showOnline')"
                                      class="spinner-border spinner-border-sm"
                                      role="status"
                                    ></span>
                                    <span *ngIf="!isSaving(row, 'showOnline')">{{ formatYesNo(row.showProductOnline) }}</span>
                                  </button>
                                </div>
                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column
                              [name]="'Available' | translate"
                              [sortable]="false"
                              [minWidth]="100"
                              cellClass="products-datatable__center-col"
                              headerClass="products-datatable__center-col"
                            >
                              <ng-template ngx-datatable-cell-template let-row="row">
                                <div class="products-datatable__cell-center products-datatable__cell-actions">
                                  <button
                                    type="button"
                                    class="btn btn-sm products-datatable__toggle"
                                    [class.btn-success]="row.isAvailable"
                                    [class.btn-outline-secondary]="!row.isAvailable"
                                    [disabled]="isSaving(row, 'available')"
                                    (click)="toggleAvailable(row)"
                                  >
                                    <span
                                      *ngIf="isSaving(row, 'available')"
                                      class="spinner-border spinner-border-sm"
                                      role="status"
                                    ></span>
                                    <span *ngIf="!isSaving(row, 'available')">{{ formatYesNo(row.isAvailable) }}</span>
                                  </button>
                                </div>
                              </ng-template>
                            </ngx-datatable-column>
                          </ngx-datatable>
                        </div>
                      </div>
                    </div>
                  </div>
                  </ng-container>

                  <app-product-categories *ngIf="activeTab === 1"></app-product-categories>
                  <app-product-brands *ngIf="activeTab === 2"></app-product-brands>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
