<div [dir]="globalDataService.getdir()">

  <!-- Search and Filters - Only visible with VIEW permission -->
  <div class="gridAboveHeight">
    <h1 style="margin-top: 0%;">{{'Statuses' | translate}}</h1>

    <hr class="mt-0 mb-0" />
    <div class="os-filter-toolbar">
      <div class="os-filter-toolbar__field os-filter-toolbar__field--search">
        <label class="os-filter-toolbar__label" for="statusSearch">{{ 'Search' | translate }}</label>
        <input
          id="statusSearch"
          [formControl]="searchControl"
          class="form-control form-control-rounded"
          type="text"
          [placeholder]="'Search' | translate"
        />
      </div>

      <div class="os-filter-toolbar__field os-filter-toolbar__field--date">
        <label class="os-filter-toolbar__label" for="FromDate">{{ 'From' | translate }}</label>
        <input
          type="date"
          class="form-control"
          [max]="filter.ToDate"
          id="FromDate"
          [(ngModel)]="filter.FromDate"
        />
      </div>

      <div class="os-filter-toolbar__field os-filter-toolbar__field--date">
        <label class="os-filter-toolbar__label" for="ToDate">{{ 'To' | translate }}</label>
        <input
          type="date"
          class="form-control"
          [min]="filter.FromDate"
          id="ToDate"
          [(ngModel)]="filter.ToDate"
        />
      </div>

      <div class="os-filter-toolbar__actions">
        <button type="button" class="btn btn-primary" (click)="search()">
          <i class="i-File-Search"></i>
          {{ 'Search' | translate }}
        </button>
        <button type="button" class="btn btn-primary" (click)="resetSearch()">
          <i class="i-Restore-Window"></i>
          {{ 'Reset' | translate }}
        </button>
        <button type="button" class="btn btn-primary" (click)="AddNew()">
          <i class="i-Add"></i>
          {{ 'Add New' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div>
    <!-- Datatable -->
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3">

          <ngx-datatable [ngStyle]="{'height':gridHeight,'box-shadow': 'none'}" class="material fullscreen"
            [columnMode]="ColumnMode.force" [headerHeight]="45" [footerHeight]="30" [rowHeight]="40"
            [rows]="filteredData" [scrollbarH]="true" [selectAllRowsOnPage]="false"
            [loadingIndicator]="loadingIndicator" [externalPaging]="true" [count]="page.totalElements"
            [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)" (sort)="onSort($event)"
            [selected]="selected" [selectionType]="SelectionType.single" (select)="onSelect($event)"
            (activate)="onDblClickRow($event)">

            <ngx-datatable-column [minWidth]="240" [name]="'Name' | translate" prop="statusName">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span title="{{ row.statusName }}">{{ row.statusName | nullEmptyToDash }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [minWidth]="180" [name]="'Display Name' | translate" prop="displayName">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span title="{{ row.displayName }}">{{ row.displayName | nullEmptyToDash }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [minWidth]="140" [name]="'StatusCode' | translate" prop="statusCode">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span title="{{ row.statusCode }}">{{ row.statusCode | nullEmptyToDash }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [minWidth]="140" [name]="'Color Code' | translate" prop="colorCode" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span
                  class="badge"
                  [style.background-color]="row.colorCode || '#ccc'"
                  [style.color]="getTextColor(row.colorCode)"
                  [title]="row.colorCode"
                >
                  {{ row.colorCode | nullEmptyToDash }}
                </span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [minWidth]="120" [name]="'Order Number' | translate" prop="orderNumber">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span>{{ row.orderNumber }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="false" [minWidth]="120" [name]="'Action' | translate">
              <ng-template ngx-datatable-cell-template let-row="row">
                <button class="btn btn-primary btn-form-margin" type="button" (click)="editRow(row)">
                  <i class="i-Edit"></i>
                  {{ 'Edit' | translate }}
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
