<div class="">
  <div class="breadcrumb"></div>

  <div class="row" style="margin-top: -3%; margin-right: -35px; margin-left: -35px;">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" style="padding: 0%;">
          <div class="tabs">
            <ul class="tabs__links">
              <li>
                <button type="button" class="tabs__link active">
                  <span class="tabs__link__text">
                    <i class="fa fa-whatsapp fontAwesome_Li_Class" style="color: black;"></i>
                    <span style="margin-left: 3%;">WhatsApp</span>
                  </span>
                </button>
              </li>
            </ul>

            <ul class="tabs__contents">
              <li>
                <div class="tabs__content active">
                  <div class="separator-breadcrumb border-top" style="margin-bottom: 0.5rem !important;"></div>
                  <ng-template #WhatsAppListTargetDiv></ng-template>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
