<div class="">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" style="padding: 0%;">
          <div class="tabs">
            <ul class="tabs__links">
              <li>
                <button type="button" class="tabs__link active">
                  <span class="tabs__link__text">
                    <img class="tabs__link-icon" src="assets/images/tabs/whatsapp.png" alt="" />
                    <span>WhatsApp</span>
                  </span>
                </button>
              </li>
            </ul>

            <ul class="tabs__contents">
              <li>
                <div class="tabs__content active px-2 pb-2">
                  <div class="separator-breadcrumb border-top" style="margin-bottom: 0.5rem !important;"></div>
                  <ng-template #WhatsAppListTargetDiv></ng-template>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
