<div [dir]="globalDataService.getdir()">
  <div class="breadcrumb"></div>

  <div class="row" style="margin-top: -3%; margin-right: -35px; margin-left: -35px;">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" style="padding: 0%;">
          <div class="tabs">
            <ul class="tabs__links">
              <li>
                <button type="button" class="tabs__link active">
                  <span class="tabs__link__text" data-text="0">
                    <i class="fa-solid fa-file-lines fontAwesome_Li_Class" style="color: black;"></i>
                    <span style="margin-left: 3%;">{{ 'Pages' | translate }}</span>
                  </span>
                </button>
              </li>
            </ul>

            <ul class="tabs__contents">
              <li>
                <div class="tabs__content active">
                  <div
                    class="separator-breadcrumb border-top"
                    style="margin-bottom: 0.5rem !important;"
                  ></div>

                  <div class="gridAboveHeight">
                    <h1 style="margin-top: 0%;">{{ 'Pages' | translate }}</h1>
                    <hr class="mt-0 mb-0" />
                    <div class="row">
                      <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <input
                            style="margin-top: 7%;"
                            [formControl]="searchControl"
                            class="form-control form-control-rounded"
                            type="text"
                            [placeholder]="'Search' | translate"
                          />
                        </div>
                      </div>

                      <div
                        class="col-xl-auto col-lg-auto col-md-auto col-sm-auto col-xs-auto form-group add_New pages-toolbar-add"
                        style="margin-top: 1.7%;"
                      >
                        <button type="button" class="btn btn-outline-primary mr-2" (click)="createDefaultPages()">
                          {{ 'Add default pages' | translate }}
                        </button>
                        <button type="button" class="btn btn-primary" (click)="openAddModal()">
                          <i class="i-Add"></i>
                          {{ 'Add Page' | translate }}
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="row" style="margin-right: -16px; margin-left: -16px;">
                    <div class="col-md-12">
                      <div class="card mb-3">
                        <ngx-datatable
                          [ngStyle]="{ height: gridHeight, 'box-shadow': 'none' }"
                          class="material fullscreen"
                          [columnMode]="ColumnMode.force"
                          [headerHeight]="45"
                          [footerHeight]="30"
                          [rowHeight]="40"
                          [rows]="filteredData"
                          [scrollbarH]="true"
                          [loadingIndicator]="loadingIndicator"
                          [externalPaging]="true"
                          [count]="page.totalElements"
                          [offset]="page.pageNumber"
                          [limit]="page.size"
                          (page)="setPage($event)"
                        >
                          <ngx-datatable-column [name]="'Title' | translate" prop="title" [minWidth]="200">
                            <ng-template ngx-datatable-cell-template let-row="row">
                              <div class="page-title-cell">{{ row.title }}</div>
                              <div class="page-slug mt-1">/page/{{ row.slug }}</div>
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column [name]="'Created At' | translate" prop="creationTime" [minWidth]="160">
                            <ng-template ngx-datatable-cell-template let-row="row">
                              {{ formatDate(row.creationTime) }}
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column [name]="'Published' | translate" [minWidth]="110" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                              <label class="status-switch mb-0" [title]="'Publish on website' | translate">
                                <input type="checkbox" [checked]="row.isActive" (change)="onStatusToggle(row, $event)" />
                                <span class="status-switch__slider"></span>
                              </label>
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column [name]="'Status' | translate" [minWidth]="100" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                              <span [class]="row.isActive ? 'badge-published' : 'badge-draft'">
                                {{ row.isActive ? ('Published' | translate) : ('Draft' | translate) }}
                              </span>
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column
                            [name]="'Action' | translate"
                            [minWidth]="160"
                            [sortable]="false"
                            [canAutoResize]="false"
                          >
                            <ng-template ngx-datatable-cell-template let-row="row">
                              <button
                                type="button"
                                class="btn btn-outline-secondary btn-sm mr-1"
                                title="{{ 'View on website' | translate }}"
                                (click)="viewOnWebsite(row)"
                              >
                                <i class="fa fa-external-link fontAwesome_Li_Class" style="color: black;"></i>
                              </button>
                              <button
                                type="button"
                                class="btn btn-outline-secondary btn-sm mr-1"
                                title="{{ 'Preview' | translate }}"
                                (click)="previewPage(row)"
                              >
                                <i class="fa fa-eye fontAwesome_Li_Class" style="color: black;"></i>
                              </button>
                              <button type="button" class="btn btn-primary btn-sm mr-1" (click)="openEditModal(row)">
                                <i class="fa fa-pencil fontAwesome_Li_Class" style="color: white;"></i>
                              </button>
                              <button type="button" class="btn btn-danger btn-sm" (click)="deletePage(row)">
                                <i class="fa fa-trash fontAwesome_Li_Class" style="color: white;"></i>
                              </button>
                            </ng-template>
                          </ngx-datatable-column>
                        </ngx-datatable>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

